{
    "presets": ["env"],
    "plugins": ["@babel/plugin-proposal-class-properties",["component", 
        {
        "libraryName": "mint-ui", 
        "style": true
      }
      ]],
      "ignore": [
        "./src/lib/mui/js/*.js"  // 建了lib文件夹，存放mui相关文件
        ]


}